.contact-info {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.contact-info i {
    width: 42px;
    height: 42px;
    background: #ffc515;
    color: #fff;
    text-align: center;
    font-size: 22px;
    padding: 10px;
}

.contact-info p {
    margin: auto 0 auto 15px;
}

.contact-chef {
    position: absolute;
    right: 6rem;
    bottom: 0;
    z-index: -2;
}

@media only screen and (max-width: 1150px) {
    .contact-chef {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -2;
    }
}

@media only screen and (max-width: 716px) {
    .contact-chef {
        display: none;
    }
}